# Настройки домена и HTTPS
# Оставьте пустым для локального запуска без HTTPS
DOMAIN=

# Email для Let's Encrypt сертификатов
CERTBOT_EMAIL=admin@example.com

# Порт для HTTP (по умолчанию 80)
HTTP_PORT=3005

# Порт для HTTPS (по умолчанию 443)
HTTPS_PORT=443

# Дополнительные настройки приложения
NODE_ENV=production 